/* APP.SCSS 19/12/2014 */
/* -------------------------------------------------- 
   Content
-----------------------------------------------------
:: Variables
:: Mixin
:: Operations
:: @ SCSS Imports
*/
/* -----------------------------------------
   Variables
----------------------------------------- */
/* Here variables */
/* -----------------------------------------
   Mixin
----------------------------------------- */
/* -----------------------------------------
   Operations
----------------------------------------- */
/* Box Sizing */
/* line 106, ../sass/app.scss */
.Size10 {
  width: 10px;
}

/* line 106, ../sass/app.scss */
.Size20 {
  width: 20px;
}

/* line 106, ../sass/app.scss */
.Size30 {
  width: 30px;
}

/* line 106, ../sass/app.scss */
.Size40 {
  width: 40px;
}

/* line 106, ../sass/app.scss */
.Size50 {
  width: 50px;
}

/* line 106, ../sass/app.scss */
.Size60 {
  width: 60px;
}

/* line 106, ../sass/app.scss */
.Size70 {
  width: 70px;
}

/* line 106, ../sass/app.scss */
.Size80 {
  width: 80px;
}

/* line 106, ../sass/app.scss */
.Size90 {
  width: 90px;
}

/* line 106, ../sass/app.scss */
.Size100 {
  width: 100px;
}

/* line 106, ../sass/app.scss */
.Size110 {
  width: 110px;
}

/* line 106, ../sass/app.scss */
.Size120 {
  width: 120px;
}

/* line 106, ../sass/app.scss */
.Size130 {
  width: 130px;
}

/* line 106, ../sass/app.scss */
.Size140 {
  width: 140px;
}

/* line 106, ../sass/app.scss */
.Size150 {
  width: 150px;
}

/* line 106, ../sass/app.scss */
.Size160 {
  width: 160px;
}

/* line 106, ../sass/app.scss */
.Size170 {
  width: 170px;
}

/* line 106, ../sass/app.scss */
.Size180 {
  width: 180px;
}

/* line 106, ../sass/app.scss */
.Size190 {
  width: 190px;
}

/* line 106, ../sass/app.scss */
.Size200 {
  width: 200px;
}

/* line 106, ../sass/app.scss */
.Size210 {
  width: 210px;
}

/* line 106, ../sass/app.scss */
.Size220 {
  width: 220px;
}

/* line 106, ../sass/app.scss */
.Size230 {
  width: 230px;
}

/* line 106, ../sass/app.scss */
.Size240 {
  width: 240px;
}

/* line 106, ../sass/app.scss */
.Size250 {
  width: 250px;
}

/* line 106, ../sass/app.scss */
.Size260 {
  width: 260px;
}

/* line 106, ../sass/app.scss */
.Size270 {
  width: 270px;
}

/* line 106, ../sass/app.scss */
.Size280 {
  width: 280px;
}

/* line 106, ../sass/app.scss */
.Size290 {
  width: 290px;
}

/* line 106, ../sass/app.scss */
.Size300 {
  width: 300px;
}

/* line 106, ../sass/app.scss */
.Size310 {
  width: 310px;
}

/* line 106, ../sass/app.scss */
.Size320 {
  width: 320px;
}

/* line 106, ../sass/app.scss */
.Size330 {
  width: 330px;
}

/* line 106, ../sass/app.scss */
.Size340 {
  width: 340px;
}

/* line 106, ../sass/app.scss */
.Size350 {
  width: 350px;
}

/* line 106, ../sass/app.scss */
.Size360 {
  width: 360px;
}

/* line 106, ../sass/app.scss */
.Size370 {
  width: 370px;
}

/* line 106, ../sass/app.scss */
.Size380 {
  width: 380px;
}

/* line 106, ../sass/app.scss */
.Size390 {
  width: 390px;
}

/* line 106, ../sass/app.scss */
.Size400 {
  width: 400px;
}

/* line 106, ../sass/app.scss */
.Size410 {
  width: 410px;
}

/* line 106, ../sass/app.scss */
.Size420 {
  width: 420px;
}

/* line 106, ../sass/app.scss */
.Size430 {
  width: 430px;
}

/* line 106, ../sass/app.scss */
.Size440 {
  width: 440px;
}

/* line 106, ../sass/app.scss */
.Size450 {
  width: 450px;
}

/* line 106, ../sass/app.scss */
.Size460 {
  width: 460px;
}

/* line 106, ../sass/app.scss */
.Size470 {
  width: 470px;
}

/* line 106, ../sass/app.scss */
.Size480 {
  width: 480px;
}

/* line 106, ../sass/app.scss */
.Size490 {
  width: 490px;
}

/* line 106, ../sass/app.scss */
.Size500 {
  width: 500px;
}

/* line 109, ../sass/app.scss */
.SizeFluid1 {
  width: 1%;
}

/* line 109, ../sass/app.scss */
.SizeFluid2 {
  width: 2%;
}

/* line 109, ../sass/app.scss */
.SizeFluid3 {
  width: 3%;
}

/* line 109, ../sass/app.scss */
.SizeFluid4 {
  width: 4%;
}

/* line 109, ../sass/app.scss */
.SizeFluid5 {
  width: 5%;
}

/* line 109, ../sass/app.scss */
.SizeFluid6 {
  width: 6%;
}

/* line 109, ../sass/app.scss */
.SizeFluid7 {
  width: 7%;
}

/* line 109, ../sass/app.scss */
.SizeFluid8 {
  width: 8%;
}

/* line 109, ../sass/app.scss */
.SizeFluid9 {
  width: 9%;
}

/* line 109, ../sass/app.scss */
.SizeFluid10 {
  width: 10%;
}

/* line 109, ../sass/app.scss */
.SizeFluid11 {
  width: 11%;
}

/* line 109, ../sass/app.scss */
.SizeFluid12 {
  width: 12%;
}

/* line 109, ../sass/app.scss */
.SizeFluid13 {
  width: 13%;
}

/* line 109, ../sass/app.scss */
.SizeFluid14 {
  width: 14%;
}

/* line 109, ../sass/app.scss */
.SizeFluid15 {
  width: 15%;
}

/* line 109, ../sass/app.scss */
.SizeFluid16 {
  width: 16%;
}

/* line 109, ../sass/app.scss */
.SizeFluid17 {
  width: 17%;
}

/* line 109, ../sass/app.scss */
.SizeFluid18 {
  width: 18%;
}

/* line 109, ../sass/app.scss */
.SizeFluid19 {
  width: 19%;
}

/* line 109, ../sass/app.scss */
.SizeFluid20 {
  width: 20%;
}

/* line 109, ../sass/app.scss */
.SizeFluid21 {
  width: 21%;
}

/* line 109, ../sass/app.scss */
.SizeFluid22 {
  width: 22%;
}

/* line 109, ../sass/app.scss */
.SizeFluid23 {
  width: 23%;
}

/* line 109, ../sass/app.scss */
.SizeFluid24 {
  width: 24%;
}

/* line 109, ../sass/app.scss */
.SizeFluid25 {
  width: 25%;
}

/* line 109, ../sass/app.scss */
.SizeFluid26 {
  width: 26%;
}

/* line 109, ../sass/app.scss */
.SizeFluid27 {
  width: 27%;
}

/* line 109, ../sass/app.scss */
.SizeFluid28 {
  width: 28%;
}

/* line 109, ../sass/app.scss */
.SizeFluid29 {
  width: 29%;
}

/* line 109, ../sass/app.scss */
.SizeFluid30 {
  width: 30%;
}

/* line 109, ../sass/app.scss */
.SizeFluid31 {
  width: 31%;
}

/* line 109, ../sass/app.scss */
.SizeFluid32 {
  width: 32%;
}

/* line 109, ../sass/app.scss */
.SizeFluid33 {
  width: 33%;
}

/* line 109, ../sass/app.scss */
.SizeFluid34 {
  width: 34%;
}

/* line 109, ../sass/app.scss */
.SizeFluid35 {
  width: 35%;
}

/* line 109, ../sass/app.scss */
.SizeFluid36 {
  width: 36%;
}

/* line 109, ../sass/app.scss */
.SizeFluid37 {
  width: 37%;
}

/* line 109, ../sass/app.scss */
.SizeFluid38 {
  width: 38%;
}

/* line 109, ../sass/app.scss */
.SizeFluid39 {
  width: 39%;
}

/* line 109, ../sass/app.scss */
.SizeFluid40 {
  width: 40%;
}

/* line 109, ../sass/app.scss */
.SizeFluid41 {
  width: 41%;
}

/* line 109, ../sass/app.scss */
.SizeFluid42 {
  width: 42%;
}

/* line 109, ../sass/app.scss */
.SizeFluid43 {
  width: 43%;
}

/* line 109, ../sass/app.scss */
.SizeFluid44 {
  width: 44%;
}

/* line 109, ../sass/app.scss */
.SizeFluid45 {
  width: 45%;
}

/* line 109, ../sass/app.scss */
.SizeFluid46 {
  width: 46%;
}

/* line 109, ../sass/app.scss */
.SizeFluid47 {
  width: 47%;
}

/* line 109, ../sass/app.scss */
.SizeFluid48 {
  width: 48%;
}

/* line 109, ../sass/app.scss */
.SizeFluid49 {
  width: 49%;
}

/* line 109, ../sass/app.scss */
.SizeFluid50 {
  width: 50%;
}

/* line 109, ../sass/app.scss */
.SizeFluid51 {
  width: 51%;
}

/* line 109, ../sass/app.scss */
.SizeFluid52 {
  width: 52%;
}

/* line 109, ../sass/app.scss */
.SizeFluid53 {
  width: 53%;
}

/* line 109, ../sass/app.scss */
.SizeFluid54 {
  width: 54%;
}

/* line 109, ../sass/app.scss */
.SizeFluid55 {
  width: 55%;
}

/* line 109, ../sass/app.scss */
.SizeFluid56 {
  width: 56%;
}

/* line 109, ../sass/app.scss */
.SizeFluid57 {
  width: 57%;
}

/* line 109, ../sass/app.scss */
.SizeFluid58 {
  width: 58%;
}

/* line 109, ../sass/app.scss */
.SizeFluid59 {
  width: 59%;
}

/* line 109, ../sass/app.scss */
.SizeFluid60 {
  width: 60%;
}

/* line 109, ../sass/app.scss */
.SizeFluid61 {
  width: 61%;
}

/* line 109, ../sass/app.scss */
.SizeFluid62 {
  width: 62%;
}

/* line 109, ../sass/app.scss */
.SizeFluid63 {
  width: 63%;
}

/* line 109, ../sass/app.scss */
.SizeFluid64 {
  width: 64%;
}

/* line 109, ../sass/app.scss */
.SizeFluid65 {
  width: 65%;
}

/* line 109, ../sass/app.scss */
.SizeFluid66 {
  width: 66%;
}

/* line 109, ../sass/app.scss */
.SizeFluid67 {
  width: 67%;
}

/* line 109, ../sass/app.scss */
.SizeFluid68 {
  width: 68%;
}

/* line 109, ../sass/app.scss */
.SizeFluid69 {
  width: 69%;
}

/* line 109, ../sass/app.scss */
.SizeFluid70 {
  width: 70%;
}

/* line 109, ../sass/app.scss */
.SizeFluid71 {
  width: 71%;
}

/* line 109, ../sass/app.scss */
.SizeFluid72 {
  width: 72%;
}

/* line 109, ../sass/app.scss */
.SizeFluid73 {
  width: 73%;
}

/* line 109, ../sass/app.scss */
.SizeFluid74 {
  width: 74%;
}

/* line 109, ../sass/app.scss */
.SizeFluid75 {
  width: 75%;
}

/* line 109, ../sass/app.scss */
.SizeFluid76 {
  width: 76%;
}

/* line 109, ../sass/app.scss */
.SizeFluid77 {
  width: 77%;
}

/* line 109, ../sass/app.scss */
.SizeFluid78 {
  width: 78%;
}

/* line 109, ../sass/app.scss */
.SizeFluid79 {
  width: 79%;
}

/* line 109, ../sass/app.scss */
.SizeFluid80 {
  width: 80%;
}

/* line 109, ../sass/app.scss */
.SizeFluid81 {
  width: 81%;
}

/* line 109, ../sass/app.scss */
.SizeFluid82 {
  width: 82%;
}

/* line 109, ../sass/app.scss */
.SizeFluid83 {
  width: 83%;
}

/* line 109, ../sass/app.scss */
.SizeFluid84 {
  width: 84%;
}

/* line 109, ../sass/app.scss */
.SizeFluid85 {
  width: 85%;
}

/* line 109, ../sass/app.scss */
.SizeFluid86 {
  width: 86%;
}

/* line 109, ../sass/app.scss */
.SizeFluid87 {
  width: 87%;
}

/* line 109, ../sass/app.scss */
.SizeFluid88 {
  width: 88%;
}

/* line 109, ../sass/app.scss */
.SizeFluid89 {
  width: 89%;
}

/* line 109, ../sass/app.scss */
.SizeFluid90 {
  width: 90%;
}

/* line 109, ../sass/app.scss */
.SizeFluid91 {
  width: 91%;
}

/* line 109, ../sass/app.scss */
.SizeFluid92 {
  width: 92%;
}

/* line 109, ../sass/app.scss */
.SizeFluid93 {
  width: 93%;
}

/* line 109, ../sass/app.scss */
.SizeFluid94 {
  width: 94%;
}

/* line 109, ../sass/app.scss */
.SizeFluid95 {
  width: 95%;
}

/* line 109, ../sass/app.scss */
.SizeFluid96 {
  width: 96%;
}

/* line 109, ../sass/app.scss */
.SizeFluid97 {
  width: 97%;
}

/* line 109, ../sass/app.scss */
.SizeFluid98 {
  width: 98%;
}

/* line 109, ../sass/app.scss */
.SizeFluid99 {
  width: 99%;
}

/* line 109, ../sass/app.scss */
.SizeFluid100 {
  width: 100%;
}

/* line 112, ../sass/app.scss */
.SizeHeight10 {
  height: 10px;
}

/* line 112, ../sass/app.scss */
.SizeHeight20 {
  height: 20px;
}

/* line 112, ../sass/app.scss */
.SizeHeight30 {
  height: 30px;
}

/* line 112, ../sass/app.scss */
.SizeHeight40 {
  height: 40px;
}

/* line 112, ../sass/app.scss */
.SizeHeight50 {
  height: 50px;
}

/* line 112, ../sass/app.scss */
.SizeHeight60 {
  height: 60px;
}

/* line 112, ../sass/app.scss */
.SizeHeight70 {
  height: 70px;
}

/* line 112, ../sass/app.scss */
.SizeHeight80 {
  height: 80px;
}

/* line 112, ../sass/app.scss */
.SizeHeight90 {
  height: 90px;
}

/* line 112, ../sass/app.scss */
.SizeHeight100 {
  height: 100px;
}

/* line 112, ../sass/app.scss */
.SizeHeight110 {
  height: 110px;
}

/* line 112, ../sass/app.scss */
.SizeHeight120 {
  height: 120px;
}

/* line 112, ../sass/app.scss */
.SizeHeight130 {
  height: 130px;
}

/* line 112, ../sass/app.scss */
.SizeHeight140 {
  height: 140px;
}

/* line 112, ../sass/app.scss */
.SizeHeight150 {
  height: 150px;
}

/* line 112, ../sass/app.scss */
.SizeHeight160 {
  height: 160px;
}

/* line 112, ../sass/app.scss */
.SizeHeight170 {
  height: 170px;
}

/* line 112, ../sass/app.scss */
.SizeHeight180 {
  height: 180px;
}

/* line 112, ../sass/app.scss */
.SizeHeight190 {
  height: 190px;
}

/* line 112, ../sass/app.scss */
.SizeHeight200 {
  height: 200px;
}

/* line 112, ../sass/app.scss */
.SizeHeight210 {
  height: 210px;
}

/* line 112, ../sass/app.scss */
.SizeHeight220 {
  height: 220px;
}

/* line 112, ../sass/app.scss */
.SizeHeight230 {
  height: 230px;
}

/* line 112, ../sass/app.scss */
.SizeHeight240 {
  height: 240px;
}

/* line 112, ../sass/app.scss */
.SizeHeight250 {
  height: 250px;
}

/* line 112, ../sass/app.scss */
.SizeHeight260 {
  height: 260px;
}

/* line 112, ../sass/app.scss */
.SizeHeight270 {
  height: 270px;
}

/* line 112, ../sass/app.scss */
.SizeHeight280 {
  height: 280px;
}

/* line 112, ../sass/app.scss */
.SizeHeight290 {
  height: 290px;
}

/* line 112, ../sass/app.scss */
.SizeHeight300 {
  height: 300px;
}

/* line 112, ../sass/app.scss */
.SizeHeight310 {
  height: 310px;
}

/* line 112, ../sass/app.scss */
.SizeHeight320 {
  height: 320px;
}

/* line 112, ../sass/app.scss */
.SizeHeight330 {
  height: 330px;
}

/* line 112, ../sass/app.scss */
.SizeHeight340 {
  height: 340px;
}

/* line 112, ../sass/app.scss */
.SizeHeight350 {
  height: 350px;
}

/* line 112, ../sass/app.scss */
.SizeHeight360 {
  height: 360px;
}

/* line 112, ../sass/app.scss */
.SizeHeight370 {
  height: 370px;
}

/* line 112, ../sass/app.scss */
.SizeHeight380 {
  height: 380px;
}

/* line 112, ../sass/app.scss */
.SizeHeight390 {
  height: 390px;
}

/* line 112, ../sass/app.scss */
.SizeHeight400 {
  height: 400px;
}

/* line 112, ../sass/app.scss */
.SizeHeight410 {
  height: 410px;
}

/* line 112, ../sass/app.scss */
.SizeHeight420 {
  height: 420px;
}

/* line 112, ../sass/app.scss */
.SizeHeight430 {
  height: 430px;
}

/* line 112, ../sass/app.scss */
.SizeHeight440 {
  height: 440px;
}

/* line 112, ../sass/app.scss */
.SizeHeight450 {
  height: 450px;
}

/* line 112, ../sass/app.scss */
.SizeHeight460 {
  height: 460px;
}

/* line 112, ../sass/app.scss */
.SizeHeight470 {
  height: 470px;
}

/* line 112, ../sass/app.scss */
.SizeHeight480 {
  height: 480px;
}

/* line 112, ../sass/app.scss */
.SizeHeight490 {
  height: 490px;
}

/* line 112, ../sass/app.scss */
.SizeHeight500 {
  height: 500px;
}

/* Font Sizing */
/* line 116, ../sass/app.scss */
.FontSize1 {
  font-size: 1px;
}

/* line 116, ../sass/app.scss */
.FontSize2 {
  font-size: 2px;
}

/* line 116, ../sass/app.scss */
.FontSize3 {
  font-size: 3px;
}

/* line 116, ../sass/app.scss */
.FontSize4 {
  font-size: 4px;
}

/* line 116, ../sass/app.scss */
.FontSize5 {
  font-size: 5px;
}

/* line 116, ../sass/app.scss */
.FontSize6 {
  font-size: 6px;
}

/* line 116, ../sass/app.scss */
.FontSize7 {
  font-size: 7px;
}

/* line 116, ../sass/app.scss */
.FontSize8 {
  font-size: 8px;
}

/* line 116, ../sass/app.scss */
.FontSize9 {
  font-size: 9px;
}

/* line 116, ../sass/app.scss */
.FontSize10 {
  font-size: 10px;
}

/* line 116, ../sass/app.scss */
.FontSize11 {
  font-size: 11px;
}

/* line 116, ../sass/app.scss */
.FontSize12 {
  font-size: 12px;
}

/* line 116, ../sass/app.scss */
.FontSize13 {
  font-size: 13px;
}

/* line 116, ../sass/app.scss */
.FontSize14 {
  font-size: 14px;
}

/* line 116, ../sass/app.scss */
.FontSize15 {
  font-size: 15px;
}

/* line 116, ../sass/app.scss */
.FontSize16 {
  font-size: 16px;
}

/* line 116, ../sass/app.scss */
.FontSize17 {
  font-size: 17px;
}

/* line 116, ../sass/app.scss */
.FontSize18 {
  font-size: 18px;
}

/* line 116, ../sass/app.scss */
.FontSize19 {
  font-size: 19px;
}

/* line 116, ../sass/app.scss */
.FontSize20 {
  font-size: 20px;
}

/* line 116, ../sass/app.scss */
.FontSize21 {
  font-size: 21px;
}

/* line 116, ../sass/app.scss */
.FontSize22 {
  font-size: 22px;
}

/* line 116, ../sass/app.scss */
.FontSize23 {
  font-size: 23px;
}

/* line 116, ../sass/app.scss */
.FontSize24 {
  font-size: 24px;
}

/* line 116, ../sass/app.scss */
.FontSize25 {
  font-size: 25px;
}

/* line 116, ../sass/app.scss */
.FontSize26 {
  font-size: 26px;
}

/* line 116, ../sass/app.scss */
.FontSize27 {
  font-size: 27px;
}

/* line 116, ../sass/app.scss */
.FontSize28 {
  font-size: 28px;
}

/* line 116, ../sass/app.scss */
.FontSize29 {
  font-size: 29px;
}

/* line 116, ../sass/app.scss */
.FontSize30 {
  font-size: 30px;
}

/* -----------------------------------------
   @ SCSS Imports
----------------------------------------- */
/* -----------------------------------------
   Utility
----------------------------------------- */
/* Visibility */
/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 6, ../sass/_utility.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 8, ../sass/_utility.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 10, ../sass/_utility.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 12, ../sass/_utility.scss */
.invisible {
  visibility: hidden;
}

/* line 13, ../sass/_utility.scss */
.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Clearing */
/* line 19, ../sass/_utility.scss */
.ClearFloats {
  display: block;
  clear: both;
  background: transparent;
  height: 0px;
  border: 0;
  overflow: hidden;
  font-size: 0.01em;
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/_utility.scss */
.lt-ie8 .ClearFloats {
  border: 1px solid transparent;
}

/* line 33, ../sass/_utility.scss */
.Clear {
  clear: both;
}

/* Tools */
/* line 39, ../sass/_utility.scss */
hr {
  display: none;
}

/* line 42, ../sass/_utility.scss */
.ResetList {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 47, ../sass/_utility.scss */
.ResetTable {
  width: 100%;
  table-layout: fixed;
  padding: 0;
  margin: 0;
}

/* line 53, ../sass/_utility.scss */
.WrapLine {
  white-space: normal;
}

/* line 56, ../sass/_utility.scss */
.Ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Structure */
/* line 64, ../sass/_utility.scss */
.FixedElementWrapper {
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 72, ../sass/_utility.scss */
.FixedElementWrapper .OverflowedElement {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* -----------------------------------------
   Structure
----------------------------------------- */
/* line 4, ../sass/_structure.scss */
.FixedElementWrapper {
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 12, ../sass/_structure.scss */
.FixedElementWrapper .OverflowedElement {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* -----------------------------------------
   Completion Bar
----------------------------------------- */
/* Structure Variables */
/* Skin Variables */
/* Structure */
/* line 18, ../sass/_completionbar.scss */
.Completion {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-top: 22px;
  position: relative;
  height: 11px;
  border: 1px solid whitesmoke;
  border-top-color: #ebebeb;
  background-color: whitesmoke;
}
/* line 26, ../sass/_completionbar.scss */
.Completion .CompletionBar {
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -o-border-radius-bottomleft: 3px;
  -o-border-radius-topleft: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  height: 9px;
}
/* line 29, ../sass/_completionbar.scss */
.Completion .CompletionBar .CompletionValue {
  color: #6d7d8c;
  font-size: 13px;
  position: absolute;
  bottom: 13px;
}
/* line 35, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value100 {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topright: 3px;
  -o-border-radius-bottomright: 3px;
  -o-border-radius-topright: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value1 .CompletionValue {
  left: -7%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value1 {
  width: 1%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value2 .CompletionValue {
  left: -6%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value2 {
  width: 2%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value3 .CompletionValue {
  left: -5%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value3 {
  width: 3%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value4 .CompletionValue {
  left: -4%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value4 {
  width: 4%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value5 .CompletionValue {
  left: -3%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value5 {
  width: 5%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value6 .CompletionValue {
  left: -2%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value6 {
  width: 6%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value7 .CompletionValue {
  left: -1%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value7 {
  width: 7%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value8 .CompletionValue {
  left: 0%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value8 {
  width: 8%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value9 .CompletionValue {
  left: 1%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value9 {
  width: 9%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value10 .CompletionValue {
  left: 2%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value10 {
  width: 10%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value11 .CompletionValue {
  left: 3%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value11 {
  width: 11%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value12 .CompletionValue {
  left: 4%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value12 {
  width: 12%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value13 .CompletionValue {
  left: 5%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value13 {
  width: 13%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value14 .CompletionValue {
  left: 6%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value14 {
  width: 14%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value15 .CompletionValue {
  left: 7%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value15 {
  width: 15%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value16 .CompletionValue {
  left: 8%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value16 {
  width: 16%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value17 .CompletionValue {
  left: 9%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value17 {
  width: 17%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value18 .CompletionValue {
  left: 10%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value18 {
  width: 18%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value19 .CompletionValue {
  left: 11%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value19 {
  width: 19%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value20 .CompletionValue {
  left: 12%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value20 {
  width: 20%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value21 .CompletionValue {
  left: 13%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value21 {
  width: 21%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value22 .CompletionValue {
  left: 14%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value22 {
  width: 22%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value23 .CompletionValue {
  left: 15%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value23 {
  width: 23%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value24 .CompletionValue {
  left: 16%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value24 {
  width: 24%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value25 .CompletionValue {
  left: 17%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value25 {
  width: 25%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value26 .CompletionValue {
  left: 18%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value26 {
  width: 26%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value27 .CompletionValue {
  left: 19%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value27 {
  width: 27%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value28 .CompletionValue {
  left: 20%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value28 {
  width: 28%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value29 .CompletionValue {
  left: 21%;
}
/* line 45, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value29 {
  width: 29%;
  background-color: #c2c9d1;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value30 .CompletionValue {
  left: 22%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value30 {
  width: 30%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value31 .CompletionValue {
  left: 23%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value31 {
  width: 31%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value32 .CompletionValue {
  left: 24%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value32 {
  width: 32%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value33 .CompletionValue {
  left: 25%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value33 {
  width: 33%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value34 .CompletionValue {
  left: 26%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value34 {
  width: 34%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value35 .CompletionValue {
  left: 27%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value35 {
  width: 35%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value36 .CompletionValue {
  left: 28%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value36 {
  width: 36%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value37 .CompletionValue {
  left: 29%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value37 {
  width: 37%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value38 .CompletionValue {
  left: 30%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value38 {
  width: 38%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value39 .CompletionValue {
  left: 31%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value39 {
  width: 39%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value40 .CompletionValue {
  left: 32%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value40 {
  width: 40%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value41 .CompletionValue {
  left: 33%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value41 {
  width: 41%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value42 .CompletionValue {
  left: 34%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value42 {
  width: 42%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value43 .CompletionValue {
  left: 35%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value43 {
  width: 43%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value44 .CompletionValue {
  left: 36%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value44 {
  width: 44%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value45 .CompletionValue {
  left: 37%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value45 {
  width: 45%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value46 .CompletionValue {
  left: 38%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value46 {
  width: 46%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value47 .CompletionValue {
  left: 39%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value47 {
  width: 47%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value48 .CompletionValue {
  left: 40%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value48 {
  width: 48%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value49 .CompletionValue {
  left: 41%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value49 {
  width: 49%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value50 .CompletionValue {
  left: 42%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value50 {
  width: 50%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value51 .CompletionValue {
  left: 43%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value51 {
  width: 51%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value52 .CompletionValue {
  left: 44%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value52 {
  width: 52%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value53 .CompletionValue {
  left: 45%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value53 {
  width: 53%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value54 .CompletionValue {
  left: 46%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value54 {
  width: 54%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value55 .CompletionValue {
  left: 47%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value55 {
  width: 55%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value56 .CompletionValue {
  left: 48%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value56 {
  width: 56%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value57 .CompletionValue {
  left: 49%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value57 {
  width: 57%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value58 .CompletionValue {
  left: 50%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value58 {
  width: 58%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value59 .CompletionValue {
  left: 51%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value59 {
  width: 59%;
  background-color: #a4aeb7;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value60 .CompletionValue {
  left: 52%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value60 {
  width: 60%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value60 {
  width: 60%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value61 .CompletionValue {
  left: 53%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value61 {
  width: 61%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value61 {
  width: 61%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value62 .CompletionValue {
  left: 54%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value62 {
  width: 62%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value62 {
  width: 62%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value63 .CompletionValue {
  left: 55%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value63 {
  width: 63%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value63 {
  width: 63%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value64 .CompletionValue {
  left: 56%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value64 {
  width: 64%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value64 {
  width: 64%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value65 .CompletionValue {
  left: 57%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value65 {
  width: 65%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value65 {
  width: 65%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value66 .CompletionValue {
  left: 58%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value66 {
  width: 66%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value66 {
  width: 66%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value67 .CompletionValue {
  left: 59%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value67 {
  width: 67%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value67 {
  width: 67%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value68 .CompletionValue {
  left: 60%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value68 {
  width: 68%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value68 {
  width: 68%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value69 .CompletionValue {
  left: 61%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value69 {
  width: 69%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value69 {
  width: 69%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value70 .CompletionValue {
  left: 62%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value70 {
  width: 70%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value70 {
  width: 70%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value71 .CompletionValue {
  left: 63%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value71 {
  width: 71%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value71 {
  width: 71%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value72 .CompletionValue {
  left: 64%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value72 {
  width: 72%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value72 {
  width: 72%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value73 .CompletionValue {
  left: 65%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value73 {
  width: 73%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value73 {
  width: 73%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value74 .CompletionValue {
  left: 66%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value74 {
  width: 74%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value74 {
  width: 74%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value75 .CompletionValue {
  left: 67%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value75 {
  width: 75%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value75 {
  width: 75%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value76 .CompletionValue {
  left: 68%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value76 {
  width: 76%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value76 {
  width: 76%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value77 .CompletionValue {
  left: 69%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value77 {
  width: 77%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value77 {
  width: 77%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value78 .CompletionValue {
  left: 70%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value78 {
  width: 78%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value78 {
  width: 78%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value79 .CompletionValue {
  left: 71%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value79 {
  width: 79%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value79 {
  width: 79%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value80 .CompletionValue {
  left: 72%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value80 {
  width: 80%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value80 {
  width: 80%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value81 .CompletionValue {
  left: 73%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value81 {
  width: 81%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value81 {
  width: 81%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value82 .CompletionValue {
  left: 74%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value82 {
  width: 82%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value82 {
  width: 82%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value83 .CompletionValue {
  left: 75%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value83 {
  width: 83%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value83 {
  width: 83%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value84 .CompletionValue {
  left: 76%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value84 {
  width: 84%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value84 {
  width: 84%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value85 .CompletionValue {
  left: 77%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value85 {
  width: 85%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value85 {
  width: 85%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value86 .CompletionValue {
  left: 78%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value86 {
  width: 86%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value86 {
  width: 86%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value87 .CompletionValue {
  left: 79%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value87 {
  width: 87%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value87 {
  width: 87%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value88 .CompletionValue {
  left: 80%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value88 {
  width: 88%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value88 {
  width: 88%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value89 .CompletionValue {
  left: 81%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value89 {
  width: 89%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value89 {
  width: 89%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value90 .CompletionValue {
  left: 82%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value90 {
  width: 90%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value90 {
  width: 90%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value91 .CompletionValue {
  left: 83%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value91 {
  width: 91%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value91 {
  width: 91%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value92 .CompletionValue {
  left: 84%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value92 {
  width: 92%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value92 {
  width: 92%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value93 .CompletionValue {
  left: 85%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value93 {
  width: 93%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value93 {
  width: 93%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value94 .CompletionValue {
  left: 86%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value94 {
  width: 94%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value94 {
  width: 94%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value95 .CompletionValue {
  left: 87%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value95 {
  width: 95%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value95 {
  width: 95%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value96 .CompletionValue {
  left: 88%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value96 {
  width: 96%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value96 {
  width: 96%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value97 .CompletionValue {
  left: 89%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value97 {
  width: 97%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value97 {
  width: 97%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value98 .CompletionValue {
  left: 90%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value98 {
  width: 98%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value98 {
  width: 98%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value99 .CompletionValue {
  left: 91%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value99 {
  width: 99%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value99 {
  width: 99%;
  background-color: #87939f;
}
/* line 40, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value100 .CompletionValue {
  left: 92%;
}
/* line 51, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value100 {
  width: 100%;
  background-color: #a4aeb7;
}
/* line 57, ../sass/_completionbar.scss */
.Completion .CompletionBar.Value100 {
  width: 100%;
  background-color: #87939f;
}
/* line 65, ../sass/_completionbar.scss */
.touch .Completion {
  border: none;
}

/* -----------------------------------------
   Typography
----------------------------------------- */
/* Font definition */
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../modules/common/fonts/OpenSans-Regular.eot");
  src: url("../modules/common/fonts/OpenSans-Regular.ttf") format("truetype"), url("../modules/common/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url("../modules/common/fonts/OpenSans-Semibold.eot");
  src: url("../modules/common/fonts/OpenSans-Semibold.ttf") format("truetype"), url("../modules/common/fonts/OpenSans-Semibold.woff") format("woff");
}

/* Font Stack */
/* line 24, ../sass/_typography.scss */
.FontStack1 {
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}

/* line 28, ../sass/_typography.scss */
.FontStack2 {
  font-family: "OpenSansSemiBold", Helvetica, Arial, sans-serif;
}

/* Link */
/* line 35, ../sass/_typography.scss */
a:link,
a:visited {
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
/* line 38, ../sass/_typography.scss */
a:link:hover, a:link:active,
a:visited:hover,
a:visited:active {
  text-decoration: none;
}

/* Generic */
/* line 45, ../sass/_typography.scss */
body {
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
}
