/* -----------------------------------------
   Base
--------------------------------------------
Content:
- tools
- typography
*/
/*
Base scss

Styleguide 2.0
*/



// tools
//
// BEM Tools list
//
// hr (default display:none)<br />
// .m-reset_list (reset margin, padding, list-style:none)<br />
// .m-reset_table (reset margin, padding, table-layout:fixed, width:100%)<br />
// .m-wrap_Line (white-space: normal)<br />
// .m-ellipsis (white-space:nowrap, overflow:hidden, text-overflow:ellipsis)<br />
//
// Styleguide 2.1
hr{
	display:none;
}
.m-reset_list{
	list-style:none;
	padding:0;
	margin:0;
}
.m-reset_table{
	width:100%;
	table-layout:fixed;
	padding:0;
	margin:0;
}
.m-wrap_line{
    white-space: normal;    
}
.m-ellipsis{
	white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}



// Typography
//
// Typography
//
// hr (default display:none)<br />
// .FontStack1 (OpenSansRegular)<br />
// .FontStack2 (OpenSansSemiBold)<br />
//
// Styleguide 2.2
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Semibold.ttf')  format('truetype'),
       url('../fonts/OpenSans-Semibold.woff') format('woff');
}

$font-stack1: 'OpenSansRegular', Helvetica, Arial, sans-serif;
$font-stack2: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;

.FontStack1 {
  font-family: $font-stack1;
}
.FontStack2 {
  font-family: $font-stack2;
}
html{
  box-sizing:border-box;
}
*,
*:before,
*:after {
  box-sizing:inherit;
}
body{
  /* Use REM unit for modules relative to html-font-size and EM unit for elements telative to modules */
  font-family:$font-stack1;
}