/* -----------------------------------------
   Base
--------------------------------------------
Content:
- Tools
- Typography
*/
/*
Base scss

Styleguide 2.0
*/



/* Tools */
// Tools
//
// BEM Tools list
//
// hr (default display:none)<br />
// .ResetList (reset margin, padding, list-style:none)<br />
// .ResetTable (reset margin, padding, table-layout:fixed, width:100%)<br />
// .WrapLine (white-space: normal)<br />
// .Ellipsis (white-space:nowrap, overflow:hidden, text-overflow:ellipsis)<br />
//
// Styleguide 2.1
hr{
	display:none;
}
.ResetList{
	list-style:none;
	padding:0;
	margin:0;
}
.ResetTable{
	width:100%;
	table-layout:fixed;
	padding:0;
	margin:0;
}
.WrapLine{
    white-space: normal;    
}
.Ellipsis{
	white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}



/* Typography */
// Typography
//
// Typography
//
// hr (default display:none)<br />
// .FontStack1 (OpenSansRegular)<br />
// .FontStack2 (OpenSansSemiBold)<br />
//
// Styleguide 2.2
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'),
       url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans-Semibold.ttf')  format('truetype'),
       url('../fonts/OpenSans-Semibold.woff') format('woff');
}

$font-stack1: 'OpenSansRegular', Helvetica, Arial, sans-serif;
$font-stack2: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;

.FontStack1 {
  font-family: $font-stack1;
}
.FontStack2 {
  font-family: $font-stack2;
}

body{
  font-family:$font-stack1;
}