/* -----------------------------------------
   Demo Layout Position Fixed
------------------------------------------*/



$l-header-height:80px;
$l-footer-height:50px;
$l-aside-width:25%;
$l-content-width:100% - $l-aside-width;



.layout_position_fixed{
    .l-header{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:$l-header-height;
        background-color:lightsalmon;
        text-align:center;
    }
    .l-footer{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        height:$l-footer-height;
        background-color:lightskyblue ;
        text-align:center;
    }
    .l-aside{
        position:fixed;
        top:$l-header-height;
        bottom:$l-footer-height;
        left:0;
        width:$l-aside-width;
        background-color:lightgreen;
        text-align:center;
    }
    .l-content{
        position:fixed;
        top:$l-header-height;
        bottom:$l-footer-height;
        left:$l-aside-width;
        width:$l-content-width;
        background-color:whitesmoke;
        text-align:center;
        overflow-y:auto;
    }
}