/* -------------------------------------------------- 
   Module Expanded Menu
-----------------------------------------------------
Content:
- expanded_menu (variables)
- expanded_menu (components)
- expanded_menu (animations)
*/



/* expanded_menu (variables) */
$button-bgcolor:#4691E5;
$button-color:#FFF;
$button-height:40px;
$button-width:40px;
$button-font-size:25px;
$expanded-button-width:56px;
$expanded-button-height:56px;



/* expanded_menu (components) */
.button {
    position:relative;
    border-radius:50%;
    &:last-child{
        margin-bottom:0;    
    }
}

.button-floating,
.button-floating-shadow {
    width:$button-width;
    height:$button-height;
}

.button-floating {
    @include transition-duration(.3s);
    z-index:40;
    cursor:pointer;
    background-color:$button-bgcolor;
    color:$button-color;
    font-size:$button-font-size;
    text-align:center;
    line-height:$button-height;
    &::before{
        content:"+";       
    }
}

.button-floating-clicked {
    .button-floating {
        @include transform-rotate(225deg);
    }
}

.button-sub,
.button-floating-shadow {
     @include transition-duration(.3s);
    box-shadow:0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.button-floating-shadow {
    position:absolute;
    z-index:20;
    top:14px;
    border-radius:50%;
}
.button-sub:hover,
.button-floating:hover + .button-floating-shadow,
.button-floating-clicked .button-floating-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.button-sub {
    @include animation-duration(.3s);
    @include animation-fill-mode(backwards);
    opacity: 0;
    z-index: 20;
    left:-7px;
    width:$expanded-button-width;
    height:$expanded-button-height;
    margin-top:6px;
}

.button-floating-clicked-out .button-sub {
    @include animation-name(fadeOut);
}

.button-floating-clicked .button-sub {
    @include animation-name(bounceIn);
    opacity: 1;
    cursor: pointer;
}



/* expanded_menu (animations) */
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}