/* -----------------------------------------
   State
--------------------------------------------
Content:
- visibility
- clearing
*/
/*
State scss

Styleguide 3.0
*/



// visibility
//
// List of available visibility class
//
// .m-hidden (Hide from both screenreaders and browsers: h5bp.com/u)<br />
// .m-visuallyhidden (Hide only visually, but have it available for screenreaders: h5bp.com/v)<br />
// .m-visuallyhidden.focusable:active (Allow the element to be focusable from keyboard: h5bp.com/p)<br />
// .m-visuallyhidden.focusable:focus (Allow the element to be focusable from keyboard: h5bp.com/p)<br />
// .m-invisible (Hide visually and from screenreaders, but maintain layout)<br />
// .m-unselectable (not selectable)<br />
//
// Styleguide 3.1
.m-hidden{
    display:none !important;
    visibility:hidden;
}
.m-visually_hidden{
    border:0; clip: rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
    &.focusable:active,
    &.focusable:focus{
        clip:auto;
        height:auto;
        margin:0;
        overflow:visible;
        position:static;
        width:auto;
    }
}
.m-invisible{
    visibility:hidden;
}
.m-unselectable {
    @include user-select (none);
}



// clearing
//
// List of available Clearing class
//
// .m-clear_fix (Reset float by wrapping floating elements)<br />
// .m-clear_floats (Reset both float with minimal space)<br />
// .m-clear (simply clear:both)<br />
//
// Markup:
// <div class="ClearFix" /><p style="float:left; border:1px solid red;">test 1</p><p style="float:right; border:1px solid green;">test 2</p></div><p>test 3 (no float)</p>
// <br class="ClearFloats" />
// <div class="Clear">...</div>
//
// Styleguide 3.2
.m-clear_fix {
  &:before,
  &:after {
    content:"";
    display:block;
    overflow:hidden;
  }
  &:after {
    clear:both;
  }
}
.m-clear_floats{
    display:block;
    clear:both;
    background:transparent;
    height:0;
    border:0;
    overflow:hidden;
    font-size:0.01em;
    margin:0;
    padding:0;
    &.lt-ie8{
        border:1px solid transparent;   
    }
}
.m-clear{
    clear:both;
}