/* -----------------------------------------
   Utility
----------------------------------------- */
/* Visibility */
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
.unselectable {
	@include user-select (none);
}


/* Clearing */
.ClearFloats{
	display:block;
	clear:both;
	background:transparent;
	height:0px;
	border:0;
	overflow:hidden;
	font-size:0.01em;
	margin:0;
	padding:0;
}
.lt-ie8 .ClearFloats{
	border:1px solid transparent;
}
.Clear{
	clear:both;
}


/* Tools */
hr{
	display:none;
}
.ResetList{
	list-style:none;
	padding:0;
	margin:0;
}
.ResetTable{
	width:100%;
	table-layout:fixed;
	padding:0;
	margin:0;
}
.WrapLine{
    white-space: normal;    
}
.Ellipsis{
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


/* Structure */
.FixedElementWrapper{
	@include transition(left 0.25s);
	@include transition-timing(ease-out);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	.OverflowedElement{
	    height:100%;
	    overflow-y:auto;
	    -webkit-overflow-scrolling: touch;
	}
}