/* -------------------------------------------------- 
   App (Violo develop enviroment 10/01/2015)
-----------------------------------------------------
Content:
- Variables
- Mixin
- Mediaquery
- Operations
- @ SCSS Imports
*/
/*
App scss

Styleguide 1.0
*/



/* -----------------------------------------
   Variables
----------------------------------------- */
$html-font-size:14px;
$html-tablet-font-size:15px;
$html-smartphone-font-size:13px;



/* -----------------------------------------
   Mixin
----------------------------------------- */
// App Mixin
//
// List of available mixin
//
// @mixin box-sizing<br />
// @mixin border-radius<br />
// @mixin border-radius-left<br />
// @mixin border-radius-right<br />
// @mixin border-radius-top<br />
// @mixin box-shadow<br />
// @mixin user-select<br />
// @mixin appearance<br />
// @mixin transition<br />
// @mixin transition-delay<br />
// @mixin transition-timing<br />
// @mixin transform-scale<br />
// @mixin transform-rotate<br />
//
// Styleguide 1.1
@mixin box-sizing($valuesizing){
    box-sizing:$valuesizing;
    -moz-box-sizing:$valuesizing;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-left($radius) {
    -webkit-border-bottom-left-radius:$radius;
    -webkit-border-top-left-radius:$radius;
    -moz-border-radius-bottomleft:$radius;
    -moz-border-radius-topleft:$radius;
    -o-border-radius-bottomleft:$radius;
    -o-border-radius-topleft:$radius;
    border-bottom-left-radius:$radius;
    border-top-left-radius:$radius;
}

@mixin border-radius-right($radius) {
    -webkit-border-bottom-right-radius:$radius;
    -webkit-border-top-right-radius:$radius;
    -moz-border-radius-bottomright:$radius;
    -moz-border-radius-topright:$radius;
    -o-border-radius-bottomright:$radius;
    -o-border-radius-topright:$radius;
    border-bottom-right-radius:$radius;
    border-top-right-radius:$radius;
}

@mixin border-radius-top($radius) {
    -webkit-border-top-right-radius:$radius;
    -webkit-border-top-left-radius:$radius;
    -moz-border-radius-topright:$radius;
    -moz-border-radius-topleft:$radius;
    -o-border-radius-topright:$radius;
    -o-border-radius-topleft:$radius;
    border-top-right-radius:$radius;
    border-top-left-radius:$radius;
}

@mixin box-shadow($valueshadow){
    -moz-box-shadow: $valueshadow;
    -webkit-box-shadow: $valueshadow;
    box-shadow: $valueshadow;
}

@mixin user-select($valueuserselect){
    -webkit-user-select: $valueuserselect;
    -moz-user-select: $valueuserselect;
    -ms-user-select: $valueuserselect;
    user-select: $valueuserselect;
}

@mixin appearance($valueappearance){
    -webkit-appearance:$valueappearance;
    -moz-appearance:$valueappearance;
    appearance:$valueappearance;
}

@mixin transition($valuetransition){
    transition:$valuetransition;
    -webkit-transition:$valuetransition;
    -o-transition:$valuetransition;
    -moz-transition:$valuetransition;
}

@mixin transition-delay($valuetransition-delay){
    transition-delay: $valuetransition-delay;
    -webkit-transition-delay: $valuetransition-delay;
}

@mixin transition-timing($valuetransition-timing){
    transition-timing-function: $valuetransition-timing;
    -webkit-transition-timing-function: $valuetransition-timing;
    -moz-transition-timing-function:$valuetransition-timing;
    -o-transition-timing-function:$valuetransition-timing;
}

@mixin transition-duration($valuetransition-duration){
    transition-timing-function: $valuetransition-duration;
    -webkit-transition-timing-function: $valuetransition-duration;
    -moz-transition-timing-function:$valuetransition-duration;
    -o-transition-timing-function:$valuetransition-duration;
}

@mixin transform-scale($valuetransform){
    -ms-transform: scale($valuetransform);
    -webkit-transform: scale($valuetransform);
    -moz-transform: scale($valuetransform);
    -o-transform: scale($valuetransform);
    transform: scale($valuetransform);
}

@mixin transform-rotate($valuetransform-rotate){
    -ms-transform: rotate($valuetransform-rotate);
    -webkit-transform: rotate($valuetransform-rotate);
    -moz-transform: rotate($valuetransform-rotate);
    -o-transform: rotate($valuetransform-rotate);
    transform: rotate($valuetransform-rotate);
}

@mixin animation-name($valueanimation-name){
    -webkit-animation-name:$valueanimation-name;
    -moz-animation-name:$valueanimation-name;
    animation-name:$valueanimation-name;
}

@mixin animation-duration($valueanimation-duration){
    -webkit-animation-duration:$valueanimation-duration;
    -moz-animation-duration:$valueanimation-duration;
    animation-duration:$valueanimation-duration;
}

@mixin animation-fill-mode($valueanimation-fill-mode){
    -webkit-animation-fill-mode:$valueanimation-fill-mode;
    -moz-animation-fill-mode:$valueanimation-fill-mode;
    animation-fill-mode:$valueanimation-fill-mode;
}



/* -----------------------------------------
   Mediaquery & Browserquery
----------------------------------------- */
// App Mediaquery & Browserquery
//
// Mediaquery Mixin
//
// small-smartphone (from 320 to 479)<br />
// smartphone (from 480 to 639)<br />
// tablet (from 640 to 768)<br />
// small-desktop (until 1024)<br />
// html-font-size setting by $html-font-size variable<br />
// html-tablet-font-size setting by $html-tablet-font-size variable<br />
// html-smartphone-font-size setting by $html-smartphone-font-size variable<br />
// ie10-11 mixin for dedicated properties<br />
//
// Styleguide 1.2
$s-smartphone-width:320px;
$m-smartphone-width:480px;
$s-tablet-width:640px;
$m-tablet-width:768px; /* 46.8 em approach */
$s-desktop-width:1024px; /* 70 em approach */

@mixin small-smartphone {
  @media (min-width: #{$s-smartphone-width}) and (max-width: #{$m-smartphone-width - 1px}) {
    @content;
  }
}
@mixin smartphone {
  @media (min-width: #{$s-smartphone-width}) and (max-width: #{$s-tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$s-smartphone-width}) and (max-width: #{$m-tablet-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$m-tablet-width}) and (max-width: #{$s-desktop-width}) {
    @content;
  }
}
@mixin ie11-10 {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

body{
  font-size:$html-font-size;
  @include desktop {
    font-size:$html-font-size;
  }
  @include tablet {
    font-size:$html-tablet-font-size;
  }
  @include smartphone {
    font-size:$html-smartphone-font-size;
  }
  @include small-smartphone {
    font-size:$html-smartphone-font-size;
  }
  @include ie11-10 {
    background-color:yellow;
  }
}



/* -----------------------------------------
   Operations
----------------------------------------- */
// App Operations
//
// List of available default calculated class for all elements
//
// Size10 to Size500               (width 10px to 500px, sensibility: 10px)<br />
// SizeFluid1 to SizeFluid100      (width 1% to 100%, sensibility: 1%)<br />
// SizeHeight10 to SizeHeight500   (height 10px to 500px, sensibility: 10px)<br />
// FontSize1 to FontSize30         (font-size 1px to 30px, sensibility: 1px)<br />
//
// Styleguide 1.3
/* Box Sizing */
@for $i from 1 through 50 {
  .Size#{$i * 10} { width: 10px * $i; }
}
@for $i from 1 through 100 {
  .SizeFluid#{$i} { width: 1% * $i; }
}
@for $i from 1 through 50 {
  .SizeHeight#{$i * 10} { height: 10px * $i; }
}
/* Font Sizing */
@for $i from 1 through 30 {
  .FontSize#{$i} { font-size: 1px * $i; }
}



/* -----------------------------------------
   @ SCSS Imports
----------------------------------------- */
@import '_base';
@import '_layout';
@import '_mod_completionbar';
@import '_mod_thermometers';
@import '_mod_popover';
@import '_mod_touchspinner';
@import '_state';
@import '_theme';
@import '/* @echo ICONS */';