.icon-ico_close-colortheme1 { background-image: url('../png-fallback/ico_close-colortheme1.png'); background-repeat: no-repeat; }

.icon-ico_close-colortheme2 { background-image: url('../png-fallback/ico_close-colortheme2.png'); background-repeat: no-repeat; }

.icon-ico_close-colortheme3 { background-image: url('../png-fallback/ico_close-colortheme3.png'); background-repeat: no-repeat; }

.icon-ico_close { background-image: url('../png-fallback/ico_close.png'); background-repeat: no-repeat; }

